# edit these, then rename to .tolinoclientrc

[Defaults]
user =     # your user name or email at the reseller's web site
password = # your password
partner =  # your device's reseller id, use --partner 0 for a full list, use '10' for 'Weltbild.de'.
download-dir = target # the directory you want to place the downloaded file. May be absolute or relative.
use_device = false # Set to true, if your reseller make use of CAPTCHAs. If true, set `user` to your `hardware_id` and `password` to the actual `refresh_token`.
